*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4{
    color: #1d273b;
}

.container{
    width: 90%;   
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.another-container{
    width: 90%;   
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    padding: 60px 0;
}

.title{
    font-size: 50px;
}

h1{
    font-size: 50px;
}

header::before{
    content:"";
    display: block;
    margin-bottom: 80px;
}

header{
    height: 100vh;
    background: #aa4b6b;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(188, 44%, 42%, 0.26), hsla(240, 10%, 47%, 0.404), hsla(340, 39%, 48%, 0.349)), url(../img/animes1.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, hsla(188, 44%, 42%, 0.26), hsla(240, 10%, 47%, 0.404), hsla(340, 39%, 48%, 0.349)), url(../img/animes1.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    
}


nav{
    width: 100%;
    height: 80px;
    background: #fff;
    border: 1px solid transparent;
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, .2);
    top:0;
    position: fixed;
    z-index: 100;
    
}


.nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav .logo{
    height: 80px;
}

.nav .logo img{
    height: 100%;
    vertical-align: top;
}

.links-header{
    font-weight: 300;
    
}

.nav .links-header a{
    color: #5d6678;
    text-decoration: none;
    margin-left: 20px;
}


.button-menu{
    width: 80px;
    height: 80px;
    text-align: center;
    z-index: 100;
    cursor: pointer;
    display: none;
}

.button-menu > i{
    font-size: 25px;
    line-height: 80px;
}

.content-header{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10%;
}



.text-header{
    margin: 0,0,0, 30px;
}

.text-header>h1{
    color:rgb(13, 24, 61);
    font-weight: bold;
    font-size: 100px;
    text-align: center;
    padding-top: 0px;
}

.copy{
    color:#fff
    
}

.content-header{
    font-weight: 300;
    margin: 14px;
    color: #5d6678;
}




.movie-us{
    background-color: #9fa0a5;
    
}

.container-movies{
    display:flex;
    flex-wrap: wrap;
    margin-top:60px;
    justify-content: space-around;
}

.movies{
    width: 30%;
    background: #fff;
    margin-bottom: 30px;
    padding: 45px 30px 60px 30px;
    transition: 0.5s;
}

.movies:hover{
    box-shadow: 0 4px 10px rgba(17, 29, 48, .26);
}

.movies > img{
    width: 100%;
    height: 120px;
    margin: auto;
}


.movies > h3{
    font-size: 25px;
    margin-top: 30px;
}


.movies > p{
    font-weight: 100;
    color: #5d6678;
    margin-top: 15px;
    padding-bottom: 20px;
}




 .waves{
    background: url(../img/wave.svg);
    background-repeat: no-repeat;
    height: 450px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%, 100%;
   margin-top:-300px
 }

.nigth{
    
    margin-top: 50px;
    height: 500px;
    
    display: flex;
    justify-content: space-evenly;
}
.nigth h2{
    color: black;
    font-size: 18px;
    font-weight: bold;
}
.nigth>img{
    width: 400px;
    height: 300px;
    margin-top: 50px;
   border-radius: 12px;
    animation: ease-in animationimg 1s;
}

.text-nigth{
    margin: 0 0 0 30px;
}


.text-nigth p {
    font-weight: 100;
    margin-top: 15px;
    color: #5d6678;
}

.text-nigth a{
    margin: 28px 0 0 0;
    width: 130px;
    display: inline-block;
    background: #0ad9db;
    text-align: center;
    color:#fff;
    padding: 12px;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 0 8px 32px rgb(10 217 219 / 0.45)
}












footer{
    background: #f2f2f2;
    padding: 60px 0;
    overflow: hidden;
    display: flex;
    flex-wrap:wrap ;
    justify-content: space-evenly;
    margin: auto;
}


footer{
    height: 400px;
    background:#000000c7;
    padding-top: 50px;
}

.content-personal{
     
    float: left;
    padding-left: 15px;
    
    
}


table  td{
    border-radius: 2px;
   
    padding: 10px;
    padding-bottom: 25px;
    text-align: center;
    font-weight: bold;  
    width: 40px;  
    padding-left: 100px;
    
}
.social-media{
    
    float: left;
    padding-left: 100px;
    padding-bottom: 70px;
    
    
    
}


.gallery{
    
    float: float;
    justify-content:space-around;
    flex-wrap: wrap;
    margin: auto;
    padding-left: 700px;
    
    
}
.img-francia{
    background:black;
    display: inline-block;
   
}
 .img-francia img{
       width: 60px;
       height: 90px;
       object-fit: cover;
     float: left;
     padding: 2px;
     align-items: center;
       


 }

 .francia{
    
    padding-left: 1160px;
    
 }

 .paris img{
    display: inline-block;
    width: 130px;
    height: 130px;
    
    border-radius: 300px;
    object-fit: cover;
    position: relative;

   
}


.social i {
   padding-right: 37px;
   padding-left: 10px;
   float: right;
}


 h2{
    
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: auto;
    text-transform: unset;
    color: white;
    font-size: 25px;
    padding-bottom: 15px;
    align-content: center;

}
